
body {
  background-color: ghostwhite;
}

header h1 {
  color: snow;
  text-align: center;
  padding: 20px 0;
  background-size: 100%;
  background: url('triangle_pattern.jpg') no-repeat;
  text-shadow: 1px 1px 3px black;
}

#converter input {
  font-size: 1.75em;
  width: 60%;
}

#converter button {
  display: block;
  font-size: 1.50em;
  width: 60%;
  text-transform: none;
  padding: 5px 0;
  height: inherit;
}

h3 {
  border-bottom: 1px solid #ccc;
}

#result {
  font-size: 2em;
  display: none;
}

#triangle-result {
  color: #0C6B32;
}

#triangle-invalid {
  color: #FF1919;
}

#flavor {
  font-size: 1em;
}
